/* 3.5  Section Clients */

.margin {
  margin: 80px auto;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

.section-clients .area {
  margin-right: -5px;
  margin-left: -5px;
  transition: 250ms ease-in-out;
}

.section-clients .col-building {
  width: 490px;
  min-height: calc(100vh - 280px);
  padding-right: 5px;
  padding-left: 5px;
  margin: 0;
}

.section-clients .col-building .block {
  position: relative;
  width: 480px;
 
  margin: auto;
}

.section-clients .building {
  width: 100%;
padding-top: 12rem;
}

.center {
  text-align: center;
}



h3 {
  font-size: 22px;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6, p {
      display: block;
      margin: 20px auto;
      line-height: 160%;
    
      letter-spacing: 0.5px;
  }

/* prettier-ignore */


.section-clients .building .imagem {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.section-clients .building .imagem .floors {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 250ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.25);
}

ul {
  list-style: none;
}

.section-clients .building .imagem img {
  position: relative;
  width: 100%;
  /* 460 × 258 px */
  height: 258px;
}

.section-clients .building .imagem .floors li.select {
  background-color: #bcb85f;}

.section-clients .building .imagem .floors li.select:hover {
  background-color:#a5a257;

}
.section-clients .building .imagem .floors li:hover {
  background-color:#a5a257;

}
/* .section-clients .building .imagem .floors li:first-child {
  height: 26.6%;
} */

.section-clients .building .imagem .floors li {
  display: flex;
  width: 50%;
  transform: translate(90%);
  height: 18.6%;
  padding: 1px;
  cursor: pointer;
  justify-content: center;
  transition: 250ms ease-in-out;
}



.section-clients .building .imagem .floors li span {
  display: flex;
  width: auto;
  height: 100%;
  color: #666666;
  font-size: 14px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 250ms ease-in-out;
}

.section-clients .building .label {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.section-clients .building .label span {
  display: block;
  width: 48%;
  color: #666666;
  font-size: 10px;
  text-align: center;
  line-height: 120%;
}

.btn.small,
.wp-block-button a.small,
section.links .wrapp a.small,
section.local .links .wrapp a.small {
  padding: 10px 20px;
  font-size: 10px;
}
.btn.pri,
.wp-block-button a.pri,
.wp-block-button.pri a,
section.links .wrapp a.pri,
section.local .links .wrapp a.pri {
  color: #666666;

}
.btn,
.wp-block-button a,
section.links .wrapp a,
section.local .links .wrapp a {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  padding: 20px 50px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: "blair";
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: none;
  line-height: normal;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.section-clients .col-building .block .block-floor {
  display: block;
  text-align: center;
  margin: 20px 0px;
}

.section-clients .col-building .block .block-floor .faction {
  display: flex;
  margin-bottom: 10px;
  color: #666666;

  font-size: 24px;
  align-items: center;
  justify-content: center;
}

.section-clients .col-plants {
  padding-right: 5px;
  padding-left: 5px;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.section-clients .col-plants .btn-back {
  display: none;
  margin: 10px 0;
  color: #666666;
  font-size: 14px;
}

.section-clients .col-plants .wrapper {
  position: relative;
  width: 100%;
  
  display: none;
  opacity: 1;
  transition: 250ms ease-in-out;
  top:7rem;
}

.section-clients .plant {
  position: relative;
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #e2e2e2;
  padding-top: 8rem;
}

.section-clients .plant .floor {
  position: absolute;
  top:30px;
  left: 30px;
  z-index: 1;
}

.section-clients .plant .floor h3,
.section-clients .plant .floor h4,
.section-clients .plant .floor h5,
.section-clients .plant .floor h6 {
  margin: 0;
}

.section-clients .col-building .block.fixed {
  position: fixed;
  top: 0;
}

.section-clients .plant .state {
  display: none;
}

.section-clients .info {
  width: 100%;
  padding: 10px 0px;
}

.section-clients .info dl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.section-clients .info dl dt {
  width: 75%;
  margin: 5px 0;
  color: #000;

  

}

.section-clients .info dl dd {
  width: 25%;
  margin: 5px 0;
  color: #666666;

  
  text-align: right;
}

.btn.full,
.wp-block-button a.full,
section.links .wrapp a.full,
section.local .links .wrapp a.full {
  width: 100%;
}
.btn.pri,
.wp-block-button a.pri,
.wp-block-button.pri a,
section.links .wrapp a.pri,
section.local .links .wrapp a.pri {
  
  background-color:  #e2e2e2;
}

.section-clients .plant .imagem {
  position: relative;
  overflow: hidden;
  background-color: #CEE002;
}

.section-clients .plant .imagem img {
  position: relative;
  width: 100%;
}

html,
body,
div,
pre,
form,
fieldset,
input,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
textarea,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
th,
td,
abbr,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
main,
section,
summary,
time,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 100%;
}

.btn.pri:hover,
.wp-block-button a.pri:hover,
.wp-block-button.pri a:hover,
section.links .wrapp a.pri:hover,
section.local .links .wrapp a.pri:hover,
.btn.pri.active,
.wp-block-button a.pri.active,
.wp-block-button.pri a.active,
section.links .wrapp a.pri.active,
section.local .links .wrapp a.pri.active {
  color: #fff;
  background-color: #000;
}

.show {
  display: block !important;
  -webkit-animation: fade 1.5s ease-in-out;
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.section-clients .section-title {
  margin-right: 7rem;
  margin-bottom: 5rem;
}

.client-carousel {
  margin-top: 4.8rem;
}

.client-carousel .client-carousel-item img {
  display: inline-block;
  width: auto;
}

.client-box {
  position: relative;
  color: #999;
  background-color: #fff;
  padding: 6rem 3.28rem 3.28rem;
}

.image-quote {
  position: absolute;
  top: 3.28rem;
  right: 3.28rem;
}

.client-img {
  position: relative;
  z-index: 1;
  margin: 0 0 -3rem 2.6rem;
  border-radius: 50%;
}

.client-title {
  letter-spacing: 0;
}

.client-name {
  font-size: 1.28rem;
  line-height: 1;
  color: #000;
}

.client-description {
  margin: 1.5rem 0 0;
  line-height: 1.71em;
}

.client-carousel .owl-nav {
  right: 0;
  top: -7.8rem;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.client-carousel .owl-prev {
  margin-right: 2rem;
}

@media (max-width: 991.98px) {
  .margin {
    margin: 40px auto;
  }
}

@media (max-width: 767.98px) {
  .section-clients .area {
    width: calc(200% + 20px);
    margin-left: 7px;
  }

  .section-clients .area.mobile.select-plants {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media (max-width: 767.98px) {
  .section-clients .col-building {
    width: 50%;
  }
}
@media (max-width: 991.98px) {
  .section-plantas .col-building {
    width: 300px;
    min-height: calc(100vh - 156px);
  }
}

@media (max-width: 767.98px) {
  .section-clients .col-building .block {
    position: relative !important;
    -webkit-transform: translateY(0) !important;
    transform: translateY(0) !important;
  }
}
@media (max-width: 991.98px) {
  .section-clients .col-building .block {
    padding-bottom: 25px;
    width: 290px;
  }
}

@media (max-width: 767.98px) {
  .section-clients .building {
    width: 290px;
    margin: auto;
  }
}

@media (max-width: 991.98px) {
  .section-clients .building .imagem img {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .section-clients .building .label {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .section-clients .building .label span {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .section-clients .building .label span:last-child {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .section-clients .building .btn-view {
    display: inline-flex;
  }
}

@media (max-width: 767.98px) {
  .section-clients .col-plants {
    width: 50%;
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .section-clients .col-plants .btn-back {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .section-clients .col-plants .wrapper {
    margin-bottom: 25px;
  }
}

@media (max-width: 991.98px) {
  .section-clients .plant .floor {
    top: 20px;
    left: 20px;
  }
}

@media (max-width: 991.98px) {
  .section-clients .plant .state li {
    font-size: 11px;
  }
}
